@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}

.uploadform{
    border: dashed;
    margin: 50px;
    padding: 50px;
    background: linear-gradient(135deg, #79aafc, #c2d2fc);
    border-radius: 20px;
    color: #fff;
}

.courseselectordiv {
    padding-left: 30%;
    padding-right: 30%;
}

.formheader {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.forminnerdiv {
    text-align: center;
}

.documentheader {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.documentsouterdiv {
    border: dashed;
    margin: 50px;
    padding: 50px;
    background: linear-gradient(135deg, #79aafc, #c2d2fc);
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

.custom_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: #424242 solid 2px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    display: none;
    color: #424242;
}